# API
PORT=8080
LOG_FORMAT=json
LOG_LEVEL=info

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=vseporuch
DB_SSLMODE=disable

# Connection pool
DB_MAX_OPEN=20
DB_MAX_IDLE=10
DB_MAX_LIFE_MIN=30
DB_CONN_TIMEOUT_SEC=5
DB_RETRY_COUNT=3
